* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* nav {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 90px;
    box-sizing: border-box;
    justify-content: space-between;
    /* border-bottom: 1px solid #fff;
}

nav .logo {
    padding: 5px 20px;
    height:10px;
    /* float: left;
    font-size: 28px;
    font-weight: bold;
    color: rgb(221, 221, 61);
    width: 100px;
}
nav .logo2 {
    padding: 0.1px 0.1px 0px 5px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    width: 120px;
} */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#fff;
    font-size: 14px;
}

.links a {
        font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0.2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 28px;
    font-weight: bold;
    color: rgb(221, 221, 61) ;
}

.navbar .pahra1 {
    color:#fff;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .links {
    display: flex;
    gap: 3rem;
}

.navbar .toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height o.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 240px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;   
    }
}


/*
nav ul {
    list-style: none;
    float: right;
    padding: 0;
    display: flex;
    position: absolute;
    top: 5px;
    left: 500px;
}

nav ul li a {
    line-height: 60px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}*/

section {
    width: 100%;
    height: 100vh;
    background: url(Images/Substitute\ Image1.jpg);
    background-size: cover;
    background-position:bottom;
}

.box1 {
    height: 200px;
    width: 150px;
    position:absolute;
    top:260px;
    right:300px;
    border: 5px solid rgb(221, 221, 61);
    text-decoration: none;
}

.box2 .a{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 290px;
    right: 411px;
    font-size: 30px;
    color: #fff;
    background:none;
    text-decoration: none;
    overflow-inline: hidden;
    cursor:default;
}

.box2 .b{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 323px;
    right: 391px;
    font-size: 30px;
    color: #fff;
    background:none;
    text-decoration: none;
    cursor:default;
}

.box2 .c{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 357px;
    right: 411px;
    font-size: 30px;
    color: #fff;
    background:none;
    text-decoration: none;
    overflow: hidden;
    cursor: default;
}

.box2 .d{
    color: rgb(221, 221, 61);
    background:none;
    font-size: 15px;
    position: absolute;
    top: 420px;
    right: 410px;
}

.move {
    color: rgb(221, 221, 61);
    position: absolute;
    top: 320px;
    left: 100px;
    cursor: pointer; 
}

.tango {
    height: 320px;
    width: 200px;
    background-color: yellow;
    position: absolute;
    right: 370px;
}

.img1 {
    position:absolute;
    right: 300px;
    margin-top: 40px;
}

.tango2 {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 200px;
    margin-top: 40px;
}

.tango2 .pahra1 {
    font-size: 1.2rem;
    color: rgb(4, 4, 146);
}

.tango2 .pahra2 {
    margin-top: 0.50rem;
    color: #acabab;
    font-size: 0.80rem;
}

.tango2 .pahra3 {
    margin-top: 0.50rem;
    font-size: 0.70rem;
}

.tango2 a {
    color: rgb(4, 4, 146); 
    font-size: 0.75rem;
    position: absolute;
    margin-top: 1.5rem;
}

.tango3 {
    margin-top: 320px;
    background-color: #f0f0f0;
    height: 330px; 
}
.tango3a {
    font-size: 1.2rem;
    position: absolute;
    right: 390px;
    margin-top: 2.5rem;
    width: 300px;
    color: rgb(4, 4, 146);
}

.tango3 .pahra1 {
    margin-top: 0.50rem;
    color: #acabab;
    font-size: 0.80rem;
}

.tango3 .pahra2 {
    margin-top: 0.50rem;
    font-size: 0.70rem;
    color: black;
}

.tango3a a {
    color: rgb(4, 4, 146); 
    font-size: 0.75rem;
    position: absolute;
    margin-top: 1.5rem;
}

.tango3 img {
    margin-top: 2.5rem;
    position: absolute;
    left: 250px;
}

.footer1 {
    background-color:rgb(2, 2, 44);
    height: 50px;
}

.footer1 p {
    color:#fff;
    position: absolute;
    margin-top: 1rem;
    left: 180px;
    font-size: 0.90rem;
}

.footer1 button {
    height: 30px;
    width: 130px;
    background-color:rgb(233, 233, 8);
    position: absolute;
    font-size: 0.80rem;
    right: 290px;
    border: 0 solid;
    margin-top: 0.70rem;
    border-radius: 4px;
    color: rgb(3, 3, 121);
    cursor: pointer;
}

.tango4 {
    height: 410px;
}

.tango4a {
    position: absolute;
    left: 500px;
    width: 350px;
}

.tango4a .pahra1 {
    font-size: 1.2rem;
    color: rgb(4, 4, 146);
    margin-top: 3rem;
    margin-left: 4.7rem;
}

.tango4a .pahra2{ 
    margin-top: 0.60rem;
    color: #acabab;
    font-size: 0.80rem;
    text-align: center;
}

.tango4 .img1 {
    position: absolute;
    margin-top: 8.5rem;
    left: 250px;
}

.tango4 .img2 {
    position: absolute;
    margin-top: 8.5rem;
    left: 550px; 
}

.tango4 .img3 {
    position: absolute;
    margin-top: 8.5rem;
    left: 850px;
}

.tango4b {
    height: 200px;
    width: 260px;
    position: absolute;
    left: 250px;
    margin-top: 18rem;
}

.tango4 .pahra3 {
    color: rgb(4, 4, 146);
}

.tango4 .pahra4 {
    margin-top: 0.60rem;
    position: absolute;
    font-size: 0.70rem;
}

.tango4c {
    height: 200px;
    width: 260px;
    position: absolute;
    left: 550px;
    margin-top: 18rem; 
}

.tango4 .pahra5 {
    color: rgb(4, 4, 146);
}

.tango4 .pahra6 {
    margin-top: 0.60rem;
    position: absolute;
    font-size: 0.70rem;
}

.tango4d {
    height: 200px;
    width: 260px;
    position: absolute;
    left: 850px;
    margin-top: 18rem; 
}

.tango4 .pahra7 {
    color: rgb(4, 4, 146);
}

.tango4 .pahra8 {
    margin-top: 0.60rem;
    position: absolute;
    font-size: 0.70rem;
}

.tango5 {
    height: 220px;
    background: url(Images/Image8.jpg);
}

.tango5 .pahra1 {
    color:#fff;
    font-size: 2.1rem;
    position: absolute;
    margin-top: 4.4rem;
    left: 350px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tango5 .pahra2 {
    color:#fff;
    font-size: 0.70rem;
    position: absolute;
    margin-top: 7.4rem;
    left: 365px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

.tango5 .pahra3 {
    color:#fff;
    font-size: 2.1rem;
    position: absolute;
    margin-top: 4.4rem;
    left: 560px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tango5 .pahra4 {
    color:#fff;
    font-size: 0.70rem;
    position: absolute;
    margin-top: 7.4rem;
    left: 555px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

.tango5 .pahra5 {
    color:#fff;
    font-size: 2.1rem;
    position: absolute;
    margin-top: 4.4rem;
    left: 750px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tango5 .pahra6 {
    color:#fff;
    font-size: 0.70rem;
    position: absolute;
    margin-top: 7.4rem;
    left: 770px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.tango5 .pahra7 {
    color:#fff;
    font-size: 2.1rem;
    position: absolute;
    margin-top: 4.4rem;
    left: 960px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tango5 .pahra8 {
    color:#fff;
    font-size: 0.70rem;
    position: absolute;
    margin-top: 7.4rem;
    left: 980px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.tango6 {
    height: 320px;
    width: 200px;
    background-color: yellow;
    position: absolute;
    left: 323px;
}

.img2 {
    position:absolute;
    left: 250px;
    margin-top: 40px;
}

.tango7 {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 390px;
    margin-top: 40px;
}

.tango7 .pahra1 {
    font-size: 1.2rem;
    color: rgb(4, 4, 146);
}

.tango7 .pahra2 {
    margin-top: 0.50rem;
    color: #acabab;
    font-size: 0.80rem;
}

.tango7 .pahra3 {
    margin-top: 0.50rem;
    font-size: 0.70rem;
}

.tango7 a {
    color: rgb(4, 4, 146); 
    font-size: 0.75rem;
    position: absolute;
    margin-top: 1.5rem;
}

.tango8 {
    margin-top: 320px;
    background: url(Images/Image9.png);
    height: 330px;
}

.tango8 .pahra1 {
    position: absolute;
    left: 665px;
    font-size: 1.5rem;
    color: #fff;
    margin-top: 4rem;
}

.tango8 .pahra2 {
    position: absolute;
    left: 365px;
    text-align: center;
    font-size: 0.80rem;
    color: #fff;
    margin-top: 7rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tango9 {
    height: 582px;
}

.tango9a {
    position: absolute;
    left: 500px;
    width: 350px;
}

.tango9a .pahra1 {
    font-size: 1.2rem;
    color: rgb(4, 4, 146);
    margin-top: 3rem;
    margin-left: 4.7rem;
}

.tango9a .pahra2{ 
    margin-top: 0.60rem;
    color: #acabab;
    font-size: 0.80rem;
    text-align: center;
}

.tango9b {
    height: 350px;
    width: 260px;
    background-color: rgb(241, 239, 239);
    position: absolute;
    margin-top: 8.5rem;
    left: 250px;
}

.tango9b .pahra1 {
    font-size: 0.80rem;
    color: rgb(4, 4, 146);
    margin-top: 1.5rem;
    position: absolute;
    left: 30px;
}

.tango9b .pahra2 {
    font-size: 0.70rem;
    color: rgb(4, 4, 146);
    margin-top: 3.3rem;
    position: absolute;
    left: 60px;
    cursor: pointer;
}

.tango9b .pahra3 {
    font-size: 0.70rem;
    color: rgb(4, 4, 146);
    margin-top: 9rem;
    position: absolute;
    left: 60px;
}

.tango9c {
    height: 350px;
    width: 260px;
    background-color: rgb(241, 239, 239);;
    position: absolute;
    margin-top: 8.5rem;
    left: 550px; 
}

.tango9c .pahra1 {
    font-size: 0.80rem;
    color: rgb(4, 4, 146);
    margin-top: 1.5rem;
    position: absolute;
    left: 30px;
}

.tango9c .pahra2 {
    font-size: 0.70rem;
    color: rgb(4, 4, 146);
    margin-top: 3.3rem;
    position: absolute;
    left: 60px;
    cursor: pointer;
}

.tango9c .pahra3 {
    font-size: 0.70rem;
    color: rgb(4, 4, 146);
    margin-top: 9rem;
    position: absolute;
    left: 60px;
}

.tango9d {
    height: 350px;
    width: 260px;
    background-color: rgb(241, 239, 239);;
    position: absolute;
    margin-top: 8.5rem;
    left: 850px;
}

.tango9d .pahra1 {
    font-size: 0.80rem;
    color: rgb(4, 4, 146);
    margin-top: 1.5rem;
    position: absolute;
    left: 30px;
}

.tango9d .pahra2 {
    font-size: 0.70rem;
    color: rgb(4, 4, 146);
    margin-top: 3.3rem;
    position: absolute;
    left: 60px;
    cursor: pointer;
}

.tango9d .pahra3 {
    font-size: 0.70rem;
    color: rgb(4, 4, 146);
    margin-top: 9rem;
    position: absolute;
    left: 60px;
}

.footer2 {
    background-color:rgb(2, 2, 44);
    height: 50px;
}

.footer2 .pahra1 {
    color:#fff;
    position: absolute;
    margin-top: 1rem;
    left: 250px;
    font-size: 0.90rem;
    cursor: pointer;
}

.footer2 .pahra2 {
    color:#fff;
    position: absolute;
    margin-top: 1rem;
    right: 235px;
    font-size: 0.90rem;
    cursor: pointer;
}